/* Cart.css */
.cart {
    width: 0;
    height: 80%;
    position: fixed;
    top: 11%;
    right: 1%;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    border-radius: 25px;
}

.cart.open {
    width: 50%;
    max-width: 720px;
}

hr {
    color: black;
    width: 100%;
}

/* Left Side of Cart Component*/

.cart-left {
    width: 66%;
    padding: 1.5rem;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.close-cart-mobile {
    display: none;
}

.cart-content {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.cart-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.cart-item-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px grey;
}

.closeCart-btn-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Right Side of Cart Component*/

.cart-right {
    width: 33%;
    background-color: lightgrey;
    padding: 1.5rem;
}

.total-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shipping-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.shipping-box {
    height: 1.7rem;
}

.voucher-code-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.voucher-box {
    height: 1.7rem;
}

.total-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


/* Cart Item Styles*/

.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-item-image {
    height: 4rem;
    width: 6rem;
}

.item-details-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-quantity-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-quantity-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-quantity-display {
    display: flex;
    gap: 3px;
}

.quantity-input {
    width: 25px;
    text-align: center;
    padding: 5px;
}

.quantity-adjust-btn {
    background: transparent;
    border: none;
    color: blue;
    font-size: larger;
    padding: 0 5px;
}

.quantity-adjust-btn:hover {
    cursor: pointer;
}

.item-remove-button {
    background: transparent;
    border: none;
    font-size: larger;
    color: grey;
}

.item-remove-button:hover {
    cursor: pointer;
}



/* Media Queries */

@media (max-width: 900px) {

    .cart {
        display: flex;
        flex-direction: column;
        height: 70%;
        right: 5%;
        top: 1%;
        right: 2%;
    }

    .cart-item {
        gap: 10px;
    }


    .cart.open {
        width: 70%;
    }

    .cart-left {
        width: auto;
        height: 60%;
    }

    .cart-right {
        width: auto;
    }

    .cart-content {
        height: 60%;
    }

    .closeCart-btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

}

@media (max-width: 550px) {
    .cart-item {
        gap: 3px;
    }

}

@media (max-width: 400px) {
    .cart {
        top: 2%;
    }

    .cart-item {
        gap: 2px;
    }

    .number-of-items {
        display: none;
    }

    .close-cart-mobile {
        display: flex;
    }
}