/* Cart.css */
@font-face {
    font-family: 'mainFont';
    src: url('../../assets/marcelusFont.ttf');
}

.cart {
    width: 0;
    height: 80vh;
    position: fixed;
    z-index: 1;
    top: 11%;
    right: 1%;
    background-color: #28282B
    ;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    border-radius: 25px;
    color: aliceblue;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.cart.open {
    width: 50%;
    max-width: 720px;
}

hr {
    color: rgb(255, 255, 255);
    width: 100%;
}

/* Left Side of Cart Component*/

.cart-left {
    width: 66%;
    padding: 1.5rem;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    color: aliceblue;
}

.cart-header.right {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'mainFont';
}

.close-cart-mobile {
    display: none;
}

.cart-content {
    display: flex;
    flex-direction: column;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: aliceblue;
}

.cart-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.cart-item-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px grey;
    padding: 1rem;
    color: aliceblue;
}

.closeCart-btn-container {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeCart-btn {
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-family: 'mainFont';
}

.closeCart-btn:hover {
    cursor: pointer;
    border-bottom: solid rgb(255, 255, 255) 1px;
}

.empty-cart-btn.invisible{
    display: none;
}

.empty-cart-btn {
    color: aliceblue;
}

.empty-cart-btn:hover {
    cursor: pointer;
    color: red;
    border-color: red;
}

/* Right Side of Cart Component*/

.cart-right {
    width: 33%;
    background-color: whitesmoke;
    padding: 1.5rem;
    color: black;
}

.total-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shipping-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.shipping-box {
    height: 1.7rem;
}

.voucher-code-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.voucher-box {
    height: 1.7rem;
}

.total-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total-amount {
    font-size: 20px;
    font-weight: bold;
}

.checkout-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.checkout-btn {
    padding: 0.4rem;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'mainFont';
    border: 1px solid;
}

.checkout-btn:hover {
    background-color: greenyellow;
    cursor: pointer;
}

/* Cart Item Styles*/

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-image {
    height: 4rem;
    width: 5rem;
    border-radius: 10px;
}

.item-details-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-quantity-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-quantity-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-quantity-display {
    display: flex;
    gap: 3px;
}

.quantity-input {
    width: 1.5rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.quantity-adjust-btn {
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: larger;
    padding: 0 5px;
}

.quantity-adjust-btn:hover {
    cursor: pointer;
}

.cart-item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
}

.item-remove-button {
    background: transparent;
    border: none;
    font-size: larger;
    color: aliceblue;
    transition: transform 0.5s ease;
}

.item-remove-button:hover {
    cursor: pointer;
    color: red;
    transform: rotate(-90deg);

}



/* Media Queries */

@media (max-width: 900px) {

    .cart {
        display: flex;
        flex-direction: column;
        height: 80vh;
        position: fixed;
        top: 11%;
        right: 1%;
        right: 2%;
    }

    .cart-item {
        gap: 10px;
    }


    .cart.open {
        width: 70%;
    }

    .cart-left {
        width: auto;
        min-height: fit-content;
    }

    .cart-right {
        width: auto;
    }

    .cart-content {
        height: fit-content;
    }

    .closeCart-btn-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


}

@media (max-width: 550px) {
    .cart-item {
        gap: 3px;
    }

    .cart-item-container {
        height: auto;
    }

    .cart-item-image {
        height: 40px;
        width: 40px;
    }

    .item-details-container {
        max-width: 50px;
    }

    .item-name {
        font-size: 10px;
    }

    .item-info {
        font-size: 12px;
    }

    .item-quantity-display {
        gap: 0;
    }

    .quantity-input {
        width: 12px;
    }

    .cart-item-price {
        font-size: 12px;
    }

}

@media (max-width: 400px) {


    .cart-left {
        height: auto;
    } 

    .cart-item-container {
        height: fit-content;
    }

    .cart-item {
        margin: 1rem;
        gap: 8px;
        display: flex;
        flex-direction: column;
    }

    .number-of-items {
        display: none;
    }

    .close-cart-mobile {
        display: flex;
        background-color: aliceblue;
        border-radius: 5px;
        border: none;
        height: 1.2rem;
        align-items: center;
        justify-content: center;
    }

    .close-cart-mobile:hover {
        cursor: pointer;
    }

    .cart-item-price {
        text-align: center;
        font-size: 18px;
    }

    .cart-item-name {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


}