span {
    color: black;
}

.footer-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(98, 97, 97);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
