
.footer-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #28282B
    ;
    color: white;
    height: 3.12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    color: white;
}